extends layout

block content
  if pad
    .navbar.navbar-fixed-top
      .navbar-header
        a.navbar-brand(href='#')= pad.slug
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='#/timelapse')
              i.fa.fa-clock-o
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/')
              i.fa.fa-reply
    #vis
    #gui
    #sidebar
      form#add_post.form-square
        textarea#post_body(placeholder='escreva aqui', rows='4').form-control
        input(type='submit', value='enviar').btn.btn-primary.btn-block
      #posts_wrapper
        #posts


  else
    .navbar.navbar-default.navbar-fixed-top
      .navbar-header
        a.navbar-brand(href='#')= title
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/') novo pad

block scripts
  if pad
    script.
      var PAD = "#{pad._id}";
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.8.0/JSXTransformer.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.8.0/react-with-addons.min.js')
    script(src='//d3js.org/d3.v3.min.js')
    script(src='/js/libs/moment.min.js')
    script(src='/js/libs/moment.pt-br.js')
    script(src='/js/libs/director.min.js')
    script(src='/js/libs/dat.gui.min.js')
    script(src='/js/main.js')
    script(src='/js/main-components.js',type='text/jsx')