body {
  font-family: 'Lato', sans-serif;
  background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
}

.mt100 {
  margin-top: 100px;
}

#gui {
  position: fixed;
  bottom: 20px;
  left: 0;
}

#sidebar{
  top: 50px;
  right: 0;
  background: #f7f7f7;
  position: absolute;
  width: 400px;
}

#add_post {
  padding: 4px;
}

#add_post textarea {
  width: 100%;
}

#posts_wrapper {
  overflow: auto;
}

#posts .post {
  background: #fff;
  padding: 10px;
  margin-bottom: 2px;
  margin-left: 4px;
}

#posts .post .body {
  font-size: 1.4em;
  color: #444;
}

#posts .post .body .line {
  display: block;
}

#posts .post .body .hashtag {
  color: #3da8e3;
}

#posts .post .small {
  color: #999;
}

#posts .post .small .control {
  float: right;
  margin-left: 14px;
}

#posts .post .small a {
  display: none;
  color: #999;
}

#posts .post:hover .small a {
  display: inline-block;
}

#vis {
  margin-top: 50px;
}

#vis .bg {
  fill: #f9f9f9;
  cursor: all-scroll;
}

.node .circle{
  fill: rgba(0,0,0,0);
  cursor: crosshair;
}

.node .text {
  fill: #444;
  cursor: crosshair;
}

.node .text-stroke {
  fill: none;
  stroke: rgba(255,255,255,.8);
  stroke-width: 6px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  cursor: crosshair;
}

.link {
  stroke: rgba(0,0,0,.25);
  cursor: crosshair;
}

