body {
  font-family: 'Lato', sans-serif;
  background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
}

.mt100 {
  margin-top: 100px;
}

#sidebar{
  top: 50px;
  right: 0;
  background: #efefef;
  position: absolute;
  width: 400px;
}

#add_post {
  padding: 4px;
}

#add_post textarea {
  width: 100%;
}

#posts_wrapper {
  overflow: auto;
}

#posts .post {
  background: #fff;
  padding: 10px;
  margin-bottom: 2px;
}

#posts .post .body {
  font-size: 1.5em;
  color: #444;
}

#posts .post .small {
  color: #999;
}

#posts .post .small a {
  float: right;
  display: none;
  margin-left: 14px;
  color: #999;
}

#posts .post:hover .small a {
  display: inline-block;
}
